body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #749774;
    font-family: Courier, monospace;
    font-size: 20px;
}

.container {
    text-align: center;
    background-color: white;
    padding: 50px;
    max-width: 900px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 380px;
    margin-bottom: 20px;
}

h1 {
    color: #361b38;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.button-row {
    border-radius: 14px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-row .btn-large {
    font-family: inherit;
}

.btn-large {
    background-color: #749774;
    color: white;
}

.btn-large:hover {
    background-color: #085108;
}

.input-field {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 15px;
}


.input-field label {
    color: #666;
}

.input-field input:focus + label {
    color: #085108 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #085108 !important;
    box-shadow: 0 1px 0 0 #085108 !important;
}