*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

__pycache__/
.idea/
.venv/
.env
.jwt_env
*.zip
postgres_data/


*.log
*.json
*.sqlite