.scaner {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    }
    
    #qrCodeContainer {
    position: relatives;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    overflow: hidden;
    }
    
    
    #qr-shaded-region {
    border-width: 50px !important;
    }
    
    video {
    position: absolute;
    top:50%;
    left: 50%;
    width: auto !important;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    }

    .start-button{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
        background-color: #d81414;
        border: 0;
        border-radius: 7px;
        font-size: 20px;
        color: #fff;

    }