<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biokeeper - Login</title>
    <!-- Import Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container center-align">
        <img src="/static/biokeeper_logo.png" alt="Biokeeper Logo" class="logo">
        <h1>Biokeeper Admin</h1>
        <div class="login-form">
            <div class="input-field">
                <input id="login" type="text" class="validate">
                <label for="login">Login</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="button-row">
                <a href="/" class="btn-large waves-effect waves-light">Go back</a>
                <a href="#" class="btn-large waves-effect waves-light">Sign In</a>
            </div>
        </div>
    </div>
    <!-- Import Materialize JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</body>
</html>